# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Prisma and database
prisma/records.db
prisma/records.db-journal
prisma/migrations

# Local env files
.env
.env.*
!.env.example
