* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--prussian-blue)
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: Lalezar;
}

p {
  font-family: Open Sans;
}